@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-size: 1em;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: gray;
    padding: 10px;
    color: white;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
   

    flex-basis: 200px;
    flex-shrink: 0;
    flex-grow: 0;
}

header > nav {
  
    padding: 10px;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

header > nav > a {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration:none;
    text-align: center;
    margin-bottom: 3px;
}

header > nav > a:hover {
    background-color: white;
    color: black;

    transition: background-color 0.3s;
}

main {
    background-color: white;
    padding: 10px;
    box-shadow: 3px 3px 5px #00000057;
    border-radius: 10px;
    width: 85vw;
    margin: auto;
    margin-top: 8px;
    
}

@media screen and (max-width: 580px) {
    header,header > nav {
        flex-flow: column nowrap;
    }

    header h1 {
        flex-basis: 50px;
    }

    header > nav > a {
        width: 70vw;
    }
}