@charset "utf-8"

* {
    margin: 0px;
    padding: 0px;
}

header {
    margin-top: 0px;
    background-color: black;
    height: ;

}

header h1 {
    color: white;
    text-align: center;
    font-size: 5em;

}

header p {
    color: white;
    text-align: center;
    font-size: 1.2em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    font-family:cursive;
}

